#light{
  --body-bg: #353b41;
  --bg-buttons: #0247fe;

  --label: #343a40;
  --tabela-contato: #0C2D48;
  --texto: #353839;
  --formulario-bg: #30363C ;
  --texto-formulario: black;
  --texto-button: #353839;

  --inputs-bg: #090927 ;
  --inputs-text: white;

  --bg-buttons-manual: #0247fe;
  --bg-button-retornar: #white; 
  --bg-titulo: #353b41;
  --titulo-text: lightgray;
}

#dark{
  /*--body-bg: #353b41;*/
  --body-bg: #2b3238;
  --bg-buttons: #0247fe;

  --label: white;
  --tabela-contato: #0C2D48;
  --texto: white;
  --formulario-bg: #2b3238;
  --texto-formulario: black;
  --texto-button: white;

  --inputs-bg: #30363C;
  --inputs-text: white;

  --bg-buttons-manual: #0247fe;
  --bg-button-retornar: #2b3238; 
  --bg-titulo: #2b3238;
  --titulo-text: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}
::-ms-input-placeholder { /* Microsoft Edge */
  color: lightgray;
}

.hr{
  border-top: 1px solid white;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--body-bg);
}

.app{
  height: 100vh;
  background-color: var(--body-bg);
}

.background-conteudo{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  /*background-color: #ECF0F1;*/
  /*background-color: rgb(30, 30, 30);*/
  background-color: var(--body-bg);
}

.formulario-duplo{
  height: 100%;
  width: 100%;
  margin-top: 1%;
  /*background-color: rgb(30, 30, 30);*/
  background-color: var(--body-bg);
}

.main-row{
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow-y: hidden;
  padding-bottom: 30px;
}

.main-row::-webkit-scrollbar{
  height: 7px;
} 

.sidebar::-webkit-scrollbar, ::-webkit-scrollbar{
  width: 7px;
}

.main-row::-webkit-scrollbar-track, .sidebar::-webkit-scrollbar-track, ::-webkit-scrollbar-track{
  background-color: rgb(130, 130, 130);
  border-radius: 20px;
} 

.main-row::-webkit-scrollbar-thumb, .sidebar::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb{
  background-color: var(--body-bg);
  border-radius: 20px; 
}

.background{
  display: flex;

  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /*background-color: #ECF0F1;*/
  /*background-color: rgb(30, 30, 30);*/
  background-color: var(--body-bg);
}

.formulario{
  width: 40%;

  color: var(--texto-formulario);
  /*background-color: #282828;*/
  background-color: var(--formulario-bg);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.formulario label{
  font-weight: bold;
  color: var(--label);
}

.formulario-padrao{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
}

.formulario-telefone{
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--formulario-bg);
}

.formulario-telefone h1{
  font-size: 20px;
  font-weight: bold;
  color: var(--texto);
}

.titulo-cadastro{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-around;
  width: 100%;
}

.titulo-botoes{
  gap: 4px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: end;
  pad: 10px 10px;
  margin-right: 10px;
}

.titulo-cadastro input[type=button], select {
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  background-color: var(--bg-buttons);

  color: var(--texto-button);
  cursor: pointer;
  border-radius: 4px;
  box-sizing: border-box;
}

.titulo{
  width: 100%;
  height: 50px;
  /*background-color: #282828;*/
  background-color: var(--formulario-bg);
  color: var(--texto);

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.titulo-flex{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

#retornar{
  /*background-color: #282828;*/
  background-color: var(--bg-button-retornar);
  cursor: pointer;
  color: var(--titulo-text);
  width: 10%;
  height: 100%;
  border: none;
  font-size: 20px;
  border-radius: 10px;
}

#retornar:hover{
  opacity: 0.5;
}

.titulo h1{
  padding: 0px 15px;
  font-size: 30px;
}

.titulo-cont{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--titulo-text);
  background-color: var(--bg-titulo);
  /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.19);*/
}

.titulo-bottom{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.titulo-bottom h2{
  color: var(--texto-button);
  padding: 8px 15px;
  font-size: 13px;
}

.titulo-pagina{
  color: var(--texto);
  width: 100%;
  height: 20px;
  text-align: center;
  margin-bottom: 20px;
}

#botaoEndereco{
  text-decoration: underline;
  cursor: pointer;
  color: var(--texto-button);
  padding: 8px 15px;
  font-size: 13px;
}

#botaoEndereco:hover{
  opacity: 0.5;
}

/*#div-tabela{
  width: 100%;
  text-align: center;
}*/

#tabela-contato{
  border-collapse: collapse;
  width: 60%;
}

#tabela-contato td, th{
  border: 1px solid #ddd;
  padding: 5px;
}

#tabela-contato thead{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: var(--tabela-contato);
  color: var(--texto);
}

#tabela-contato td{    
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: var(--texto);
  color: var(--texto-formulario);
  text-align: center;
}

#tabela-contato td:hover{
  background-color: #ddd;
}

#tabela-contato button{
  cursor: pointer;
  width: 100%;
  padding: 10px 6px;

  border: 1px solid #ccc;
 
  background-color: darkred;
  color: white;
}

.formulario-padrao input[type=text], input[type=email], input[type=number], input[type=tel], input[type=date], input[type=value], select {
  width: 100%;
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  /*background-color: hsl(0, 0%, 10%);*/
  background-color: var(--inputs-bg);
  color: var(--inputs-text);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-sizing: border-box;
}

.formulario-padrao select{
  background-color: var(--inputs-bg);
  color: var(--inputs-text);
}

#adicionar-contato{
  width: 100%;
  height: 40px;
}

#adicionar-contato input[type=tel]{
  width: calc(50% - 5%);
  padding: 10px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

  box-sizing: border-box;
}

#mensagemContato{
  margin-top: 8px;
  color: red;
}

#adicionar-contato input[type=button], select {
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
 
  background-color: var(--bg-buttons);
  color: var(--texto);

  cursor: pointer;

  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

  box-sizing: border-box;
}

.div-botoes{
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.div-botoes button{
  width: 30%;
  padding: 10px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
 
  background-color: var(--bg-buttons);
  color: var(--texto-button);

  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
}

.div-botoes button:hover{
  background-color: #ddd;
  color: var(--texto-formulario);
}

#msgSistema{
  font-size: 20px;
  color: green;
}

.mensagem{
  color: red;
  font-size: 15px;
}

.formulario-padrao-sexo{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px 15px;
}

.formulario-padrao-sexo label{
  margin-bottom: 10px;
}

.formulario-padrao-sexo input{
  margin-bottom: 10px;
}

.disabled{
  pointer-events: none;
  display: none;
}

.salvando{
  pointer-events: none;
}

.msg{
  color: red;
}

.clearfix button{
  background-color: var(--bg-buttons);
  color: var(--texto);
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
  font-size: 20px;
  border-radius: 30px;
}

.clearfix{
  display: flex;
  justify-content: space-around;
  padding: 5px;;
}

button:hover {
  opacity:1;
}

.container {
  padding: 16px;
  text-align: center;
  font-size: 20px;
}

.modal {
  display: block; 
  position: fixed; 
  z-index: 6; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  padding-top: 50px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}

/*.div-tabela{
  height: 100%;
  max-height: 470px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  overflow-y: auto;
}

.tabela{
  border-collapse: collapse;
  width: 100%;
}

.tabela td, th{
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 6px;
}

.tabela thead{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #0C2D48;
  color: white;
}

.tabela td{    
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  background-color: white;
  color: black;
  text-align: center;
}

.tabela tr{
  cursor: pointer;
  border-radius: 6px;
}

.tabela tr:hover{
  opacity: 0.5;
}

.tabela td:hover{
  background-color: #ddd;
}*/

.inputs-buscar{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inputs-buscar input[type=search]{
  height: 40px;
  width: 40%;
  padding: 10px 20px;
  border: 1px solid #ccc;
  background-color: var(--inputs-bg);
  color: var(--texto-button);
}
 
.inputs-buscar .filtroSelect{
  height: 40px;
  width: 25%;
  padding: 10px 5px;
  border: 1px solid #ccc;
  background-color: var(--inputs-bg);
  color: var(--texto-button);
  border-radius: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.inputs-buscar input[type=button]{
  height: 40px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  /*background-color: blue;*/
  background-color: var(--bg-buttons);
  color: var(--texto);
  cursor: pointer;
  box-sizing: border-box;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

#manualButton{
  width: 70px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: var(--bg-buttons-manual);
  color: var(--texto);
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 30px;
  margin-right: 5px;
}

.titulo-cont #manualButton{
  border-radius: 4px;
}

/*.tabela button{
  cursor: pointer;
  width: 100%;
  padding: 10px 6px;

  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: darkred;
  color: white;
}*/

@media screen and (max-width: 900px){
  .main-row::-webkit-scrollbar{
    height: 7px;
    display: none;
  } 

  .formulario-tabela{
    width: 90%;
    min-width: 90%;
    margin-left: 15px;
  }

  .inputs-buscar input[type=search]{
    height: 40px;
  }

  .inputs-buscar button{
    width: 20%;
    height: 30px;
    border-radius: 4px;
    padding: 2px 2px;
  }
  
  .formulario-duplo{
      width: 100%;
      overflow-y: hidden;
      margin-top: 4%;
  }

  .main-row{
      display: flex;
      justify-content: space-between;
      overflow-x: scroll;
      overflow-y: hidden;
      width: 100%;
      height: 100%;
  }

  .formulario{
      width: 90%;
      min-width: 90%;
      margin-left: 15px;
  }

  .titulo h1{
      text-align: center;
      font-size: 22px;
  }

  .titulo h2{
    text-align: center;
    font-size: 10px;
  }

  .formulario-padrao input[type=text], input[type=email], input[type=number], input[type=tel], input[type=date], input[type=value], select{
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;

    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    box-sizing: border-box;
  }

  #adicionar-contato{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      align-items: center;
  }

  #adicionar-contato input[type=tel]{
      width: 80%;
  }

  #adicionar-contato input[type=button]{
      width: 80%;
      height: 40px;
      border-radius: 4px;
  }

  #mensagemContato{
      text-align: center;
      font-size: 15px;
  }

  #tabela-contato{
      border-collapse: collapse;
      width: 100%;
  }

  #tabela-contato button{
      width: 100%;
      border: 1px solid #ccc;
      background-color: darkred;
      color: white;
  }

  #msgSistema{
      font-size: 19px;
  }

  .titulo-botoes{
    flex-wrap: nowrap;
    gap: 1px;
    padding: 0;
    align-items: center;
    justify-content: center;
  }

  .titulo-botoes input[type=button]{
    width: 40%;
    height: 30px;
    padding: 5px 5px;
    margin: 0;
  }

  .inputs-buscar input[type=search]{
    width: 100%;
  }

  .titulo-cadastro{
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
  }

}
